* {
    box-sizing: border-box;
}


body {
    margin: 0;

}



img {
    width: 100%;
    padding: 5px;

}

figure {
    margin: 0;
}


/** MELLANRUM PÅ LINKS TEXTEN **/

li {
    padding: 5px;
    margin: 5px;

}

/**** SLUT PÅ LINKS TEXT ***/

/* GÖR SÅ ATT DET HELA TRYCKS IN */
section,
footer {
    max-width: 1200px;
    margin: 0 auto;
}




/* SLUT PÅ DET */

header {
    position: fixed;
    top: 0;
}



/*** GENERELLA INSTÄLLNINGAR ***/


/*********menu*********/


.hidden {
    display: none;
}

/*burger menu*/
#menu .hidden {
    display: none;
    transform: scale(0);
    transform: translateX(-100%);
    opacity: 0;

}

a {
    color: black;
    text-decoration: none;
    font-family: 'Lora', sans-serif;
    font-size: 1rem;
    color: #000000;
    margin-bottom: 0;
}


#menu a {
    line-height: 3rem;
}

#menu li {
    padding-bottom: 1vw;
    padding-top: 1vw;
    border-bottom: 1px solid black;
    margin-right: 70vw;
}


#menuknap {
    display: flex;
    display: inline-block;
    left: 75vw;
    font-size: 2rem;

}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: center;
}


.burgermenu {
    display: flex;
    align-items: flex-end;
    text-align: left;
    justify-content: flex-end;
    margin: 1vw 4vw;
}





@media only screen and (min-width: 700px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

/*************************************top menu**************************/
.topnav {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    overflow: hidden;
    justify-content: center;
    display: flex;
    width: 100vw;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-family: 'Lora', sans-serif;
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    display: flex;
}

.topnav a:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    color: black;
}

.topnav a.active {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
}


@media only screen and (max-width: 700px) {
    .topnav {
        display: none;
    }
}

/****************************  Menu slut  ****************************/



/** ALLA DIVS MED COL HAR PADDING **/
.col {
    padding: 15px;
}

/*** SLUT ********/


/**** SPLASH BILLDEN ***/


#splash {
    width: 100vw;
    height: 90vh;
    max-width: none;
    background-image: url(portfolio2.jpg);
    background-size: cover;
    background-position: 12% 0%;
}


/**** SLUT ***/


/*** OM MIG SEKTIONEN ***/




#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}


#om .col {
    flex-grow: 2;
    flex-basis: 600px;
}

.pic {
    flex-grow: 1;
    flex-basis: 300px;
}

#om {
    background-color: #fafafa;

}



#eksempler .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#eksempler .col {
    flex-grow: 1;
    flex-basis: 550px;
    /* child */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#eksempler {
    background-color: #fafafa;

}

/** LINKS */


#links .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}



#links {
    background-color: #fafafa;
}

#links a:hover {
    color: white;
    background-color: #1d1d1d;

}

/** TEXT GREJER **/


p {
    font-family: 'lora', serif;
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
}


h1 {
    font-size: 2.5rem;
    font-family: 'Lora', sans-serif;
    color: #1d1d1d;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
}

h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1d;
    padding: 10px;
    margin: 10px;

}

h3 {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1d;
    padding: 10px;
    margin: 10px;
    font-weight: bold;

}



/*** ANIMATIONS DOKUMENT START **/


.animation h2 {
    color: black;
    font-size: 1.8rem;
    margin: 0vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

.animation h3 {
    color: black;
    font-size: 1.2rem;
    margin: 0.5vw 0.5vw 0.5vw 0vw;
    font-family: 'Montserrat', sans-serif;

}

.animation p {
    color: black;
    font-size: 1rem;
    margin: 1vw 1vw 1vw 0vw;
    font-family: 'Lora', sans-serif;
}

#spillet {
    /*background-color: #232933; */
    margin: 0vw;
    padding: 0vw;
}

#startspillet {
    width: 100vw;
    /*margin: 0vw;
    padding: 0vw;*/

}

#beskrivelse {
    background-color: #fafafa;
    margin: 0 auto;
    padding: 3vw 15vw;
}

#beskrivelse #sectionwrapper,
#beskrivelse #sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

#beskrivelse #pitch {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 0vw 2vw 0vw 0vw;
}

#beskrivelse #maalgruppebeskrivelse {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 0vw 0vw 0vw 2vw;
}

#maalgruppebeskrivelse li {
    font-family: 'Lora', serif;
}

#maalgruppebeskrivelse a:hover {
    color: white;
    background-color: #1d1d1d;

}


#beskrivelse #ide {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 0vw 0vw 0vw 2vw;
}


/**** UX DOKUMENTATION ***/


.galleri h2 {
    color: black;
    font-size: 1.8rem;
    margin: 0vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

.galleri h3 {
    color: black;
    font-size: 1.2rem;
    margin: 0.5vw 0.5vw 0.5vw 0vw;
    font-family: 'Montserrat', sans-serif;

}

.galleri p {
    color: black;
    font-size: 1rem;
    margin: 1vw 1vw 1vw 0vw;
    font-family: 'Lora', sans-serif;
}

#prototyp {
    /*background-color: #fafafa;*/
    margin: 0vw;
    padding: 0vw;
}

#startprototyp {
    width: 100vw;
    margin: 0vw;
    padding: 0vw;

}

#beskrivelsen {
    background-color: #fafafa;
    margin: 0 auto;
    padding: 3vw 15vw;
    /**outline: 0.2px solid #FB9136;**/
}

#beskrivelsen #sectionwrappern,
#beskrivelsen #sectionwrappern1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

#beskrivelsen #pitchn {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 0vw 2vw 0vw 0vw;
}

#beskrivelsen #maalgruppebeskrivelsen {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 0vw 0vw 0vw 2vw;
}

#maalgruppebeskrivelsen li {
    font-family: 'lora', serif;
}

#maalgruppebeskrivelsen a:hover {
    color: white;
    background-color: #1d1d1d;

}

/*#beskrivelse #medlemmer, {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 0vw 2vw 0vw 0vw;
} */

#beskrivelsen #iden {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 0vw 0vw 0vw 2vw;
}


/** SLUT UX DOK ***/



/** FOOTER **/

#footer #footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding: 25px;
}

#footer #socialmedia img {
    width: 3rem;
}

#footer #socialmedia {
    margin: 0 auto;
    text-align: center;

}

#socialmedia {
    flex-basis: 300px;


}



/** FOOTER SLUT **/



/*** MEDIA QUERY FÖR MINA PROJECTS ***/



@media only screen and (min-width: 800px) {
    #eksempler .col {
        flex-basis: 200px;
    }

}
